.container{
    max-width: 800px;
    min-width: 300px;
    /* height: 100vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    /* padding: 0px 100px 0px 100px; */
}
.container .row_container {
    width: 100%;
}